$white : hsl(0, 0%, 100%);
$black : hsl(0, 0%, 0%);
$dark-gray : hsl(0, 0%, 55%);
$very-dark : hsl(0, 0%, 41%);

// breakpoints 
$min-width-mobile : 768px;
$min-width-tab : 991px;
$min-width-desktop : 1440px;